@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  color: #333;
  overflow: hidden;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
  background-color: rgba(50, 50, 50, 0.3);
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
}
a:before {
  content: "< ";
}
a:after {
  content: " >";
}
p {
  line-height: 24px;
}
